<form class="row g-3" method="POST">
    <div class="col-md-6">
      <label for="coin_from" class="form-label"
        >What coin do you want to sell?</label
      >
      <select class="form-control" name="coin_from" id="conv_from">
        <option value="EUR">Euro</option>
        <option value="BTC">Bitcoin</option>
        <option value="ETH">Ethereum</option>
        <option value="XRP">Ripple</option>
        <option value="LTC">Lite Coin</option>
        <option value="BCH">Bitcoin Cash</option>
        <option value="BNB">Binance Coin</option>
        <option value="USDT">US Dollar</option>
        <option value="EOS">EOS</option>
        <option value="BSV">Bitcoin SV</option>
        <option value="XLM">Stellar Lumens</option>
        <option value="ADA">Cardano</option>
        <option value="TRX">Tron</option>
      </select>
    </div>
  
    <div class="col-md-6">
      <label for="coin_to" class="form-label"
        >What coin do you want to buy?</label
      >
      <select class="form-control" name="coin_to" id="conv_to">
        <option value="EUR">Euro</option>
        <option value="BTC">Bitcoin</option>
        <option value="ETH">Ethereum</option>
        <option value="XRP">Ripple</option>
        <option value="LTC">Lite Coin</option>
        <option value="BCH">Bitcoin Cash</option>
        <option value="BNB">Binance Coin</option>
        <option value="USDT">US Dollar</option>
        <option value="EOS">EOS</option>
        <option value="BSV">Bitcoin SV</option>
        <option value="XLM">Stellar Lumens</option>
        <option value="ADA">Cardano</option>
        <option value="TRX">Tron</option>
      </select>
    </div>
    <br />
    <div class="col-md-2">
      <label for="amount">Amount</label>
      <input
        type="number"
        class="form-control"
        id="amount"
        name="amount"
      />
    </div>
    <div class="col-8">
      <button type="submit" class="btn btn-primary">Check Price</button>
    </div>
  </form>
  </form>